.article {
    padding: 1rem 5rem;
    text-align: left;
    
}

.article-texto_chamada {
    justify-content: center;
    
}

.imagem-ia {
    width: 100%;
   
   
}

.imagem-vr {
    width: 100%;

}

a {
    color: var(--cor0) ;
    text-decoration: none;
    font-weight: bold;
    

}

main a {
    background-color: var(--cor2);
    padding: 5px;
    border-radius: 5px;
    
}

a:hover {
    color: var(--cor1);
   
}

main a::after {
    content: '\00A0\1F517';
}



.imagem-oculos {
    width: 100%;
   
}

.video {
    margin-bottom: 20px;
}